:root
{
  --midnight-blue: #2c3e50;
  --gold-yellow: #fc3;
  --white: #fff;
}

/* Small screens - MOBILE */
@media only screen {

  * {
    font-family: 'Lato', sans-serif;
  }

  a {
    text-decoration: none;
    color: white;
  }

  #logo {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 36px;
    font-size: 24px;
    line-height: 36px;
    background-color: var(--midnight-blue);
    color: var(--white);
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
  }

  header > nav#mainnav > ul {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    background-color: #adbfd2; /*testowo*/
  }

  header > nav#mainnav > ul > li {
    border: 1px solid var(--gold-yellow);
    margin: 3px;
    flex: 1 auto;
    text-align: center;
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  header > nav#mainnav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
  }
}


@media only screen and (max-width: 640px) {

}


/* Medium screens - TABLET */
@media only screen and (min-width: 641px) {

}

@media only screen and (min-width: 641px) and (max-width: 1024px) {

}

/* Large screens - DESKTOP */
@media only screen and (min-width: 1025px) {

}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {

}

/* XLarge screens */
@media only screen and (min-width: 1441px) {

}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {

}

/* XXLarge screens */
@media only screen and (min-width: 1921px) {

}
