html {
  font-size: 10px;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
KEYS
KEYS
KEYS
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

.keys-container
{
  background:url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

.keys {
  display:flex;
  flex:1;
  min-height:100vh;
  align-items: center;
  justify-content: center;
}

.key:hover {
  cursor: pointer;
}
.key {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
   -khtml-user-select: none; /* Konqueror */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                not supported by any browser */
  cursor: pointer;
}

.key {
  border:4px solid black;
  border-radius:5px;
  margin:1rem;
  font-size: 1.5rem;
  padding:1rem .5rem;
  transition:all .07s;
  width:100px;
  text-align: center;
  color:white;
  background:rgba(0,0,0,0.4);
  text-shadow:0 0 5px black;
}

.playing {
  transform:scale(1.1);
  border-color:#ffc600;
  box-shadow: 0 0 10px #ffc600;
}

kbd {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:#ffc600;
}

/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
CLOCK
CLOCK
CLOCK
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

.clock-container {
  background:#018DED url(http://unsplash.it/1500/1000?image=881&blur=50);
  background-size:cover;
  text-align: center;
  font-size: 2rem;
  display:flex;
  flex:1;
  min-height: 100vh;
  align-items: center;
}
.clock {
  width: 30rem;
  height: 30rem;
  border:20px solid white;
  border-radius:50%;
  margin:50px auto;
  position: relative;
  padding:2rem;
  box-shadow:
  0 0 0 4px rgba(0,0,0,0.1),
  inset 0 0 0 3px #EFEFEF,
  inset 0 0 10px black,
  0 0 10px rgba(0,0,0,0.2);
}
.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}
.hand {
  width:50%;
  height:6px;
  background:black;
  position: absolute;
  top:50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0s;
  transition-timing-function: cubic-bezier(0.03, 3.12, 0.6, 0.56);
}

.second-hand
{
  background: red;
  height: 3px;
  width: 50%;
  border-radius: 1px;
  top: calc(50% + 1.5px);
  transition: all 0.03s;
  transition-timing-function: cubic-bezier(0.03, 3.12, 0.6, 0.56);
}
.min-hand
{
  height: 4px;
  width: 42.5%;
  border-radius: 2px;
  left: 7.5%;
  top: calc(50% + 1px);
}
.hour-hand
{
  height: 6px;
  width: 35%;
  border-radius: 3px;
  left: 15%;
}

.smallhour
{
  height: 3px;
  width: 7%;
  background: #eee;
  transform-origin: 100%;
  transform: rotate(90deg);
  position: absolute;
}

.bighour
{
  height: 6px;
  width: 7%;
  background: #eee;
  transform-origin: 100%;
  transform: rotate(90deg);
  position: absolute;
  border-right: 2px solid #ccc;
  border-top: 2px solid #ccc;
}

.hour1
{
  top: 10%;
  left: calc(66.666667% - 1px);
  transform: rotate(120deg);
}

.hour2
{
  top: 27.5%;
  left: calc(83.333333% - 1px);
  transform: rotate(150deg);
}

.hour3
{
  top: calc(50% - 1px);
  left: calc(96% - 1px);
  transform: rotate(0deg);
  border-top: 0px;
  border-bottom: 2px solid #ccc;
}

.hour4
{
  top: 73.5%;
  left: calc(83.333333% - 1px);
  transform: rotate(210deg);
}

.hour5
{
  top: 90%;
  left: calc(66.666667% - 1px);
  transform: rotate(240deg);
}

.hour6
{
  top: 103%;
  left: calc(43% - 1px);
}

.hour7
{
  top: 90%;
  left: calc(20.5% - 1px);
  transform: rotate(300deg);
}

.hour8
{
  top: 73.5%;
  left: calc(3.3333333% - 1px);
  transform: rotate(330deg);
}

.hour9
{
  top: calc(50% - 1px);
  left: -3%;
  transform: rotate(0deg);
  border-top: 0px;
  border-bottom: 2px solid #ccc;
}

.hour10
{
  top: 27.5%;
  left: calc(3.3333333% - 1px);
  transform: rotate(30deg);
}

.hour11
{
  top: 10%;
  left: 19.5%;
  transform: rotate(60deg);
}

.hour12
{
  top: 4%;
  left: calc(43% - 1px);
}

.thetime
{
  position: absolute;
  background-color: green;
  top: 25%;
  left: calc(48% - 38px);
  padding: 2px 4px;
  border: 1px solid black;
  color: white;
}

.thetime2
{
  text-align: center;
  float: left;
  margin: 0 auto;
  height: auto;
}

.clock-circle
{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: black;
  position: absolute;
  top: calc(50% - 3px);
  left: calc(50% - 6px);
}

/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
IMG VARIABLE
IMG VARIABLE
IMG VARIABLE
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/


.img-container {
  background: #193549;
  color: white;
  font-weight: 100;
  font-size: 50px;
  min-height: 100vh;
  text-align: center;
}
.img-container .controls {
  margin-bottom: 50px;
}
.img-container input {
  width:100px;
}

.img-container h2 {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 2px;
}

.img-container img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.img-container .hl {
  color: var(--base);
}


/*###*/

.link
{
  background-color: #333;
  text-align: center;
  padding: 25px;
}

a
{
  text-decoration: none;
  color: white;
  font-size: 22px;
  text-align: center;
}
